/* ids */



/* classes */

.container {
    width: 100%;
    min-width: 500px;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20;
    box-sizing: border-box;
}

.title_div {
    text-align: center;
    font-size: 3.2em;
    padding: 2% 0% .2% 0%;
    color: #F7F7FF;
    background: #000032;
}

.text_container_div {
    text-align: justify;
    padding: 5%;
    white-space: break-spaces;
}

/* tags */

html {
    font-size: 62.5%;
}

body {
    background: #aaaaff;
}

header {
    width: 100%;
    background: #222;
    text-align: center;
}

nav {
    height: 100%;
}

h1 {
    text-align: center;
    font-size: 3.2rem;
}

section {
    width: 100%;
    background: #ffffff;
    font-size: 1.2em;
}

figure img {
    border: .2vw dotted;
}

figure {
    text-align: center;
    padding: 3%;
}

p {
    font-size: 1.6em;
    line-height: 1.5;
}

footer {
    height: 5vw;
    width: 100%;
    background: #222;
}